*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color: white;
    background-color: #323038;
    margin: 20px 30px 0 30px;
    font-family: "Hind", sans-serif;
    
}
.first{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: 0 0 100px 0;
}
.name{
    margin: 0 800px 0 0;
    color: rgb(20, 199, 199)
}
.con{
    text-align: center;
}
.address{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    font-weight: lighter;
    font-size: medium;
    margin-top: 20px;
}
.based{
    text-align: center;
    font-weight: lighter;
    font-size: small;
    padding-top: 15px;
}
.anchor{
    text-decoration: none;
    color: rgb(20, 199, 199)
 }